@import "tailwindcss";
@import "tw-animate-css";


* {
  font-family: var(--font-inter);
}
body {
  background-color: #09090a;
}
.dashboard-container {
  /* No perspective provides an orthographic (flat 3D) projection */
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}
.main-motion-div {
  transform: scale(1);
  transform-origin: top center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin: 0 auto;
}